.app-container {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  padding-top: calc(20px + 57px);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin-left: 48px;
  width: calc(100% - 48px);
}

